html, body {
    margin: 0;
    /*cursor: none;*/
}

html {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    height: 100%;
}
pre{
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
body {
    overflow: hidden;
    height: inherit;

}
.board{
    position: absolute;
    margin: 0;
    top: 30px;
    right: 5px;
    color: #aaa;
}
#logo {
    font-size: 2rem;
    letter-spacing: -1px;
    position: absolute;
    margin: 0;
    top: -4px;
    right: 5px;
    color: transparent;
    text-shadow: 0 0 4px white;
}
#start{
    border-radius:10px;
    box-shadow: 5px 5px 30px #888888;
    background-color: #FFF;
    height:430px;
    width:450px;
    position:absolute;
    left:50%;
    margin-left:-225px;/*width/2*/
    top:200px;
    display:none;
}
#win{
    border-radius:10px;
    box-shadow: 5px 5px 30px #888888;
    background-color: #FFF;
    height:160px;
    width:450px;
    position:absolute;
    left:50%;
    margin-left:-225px;/*width/2*/
    top:200px;
    display: none;
}
#lose{
    border-radius:10px;
    box-shadow: 5px 5px 30px #888888;
    background-color: #FFF;
    height:120px;
    width:450px;
    position:absolute;
    left:50%;
    margin-left:-225px;/*width/2*/
    top:200px;
    display: none;
}